In [1]:
n = int(input("Enter the number of rows: "))

for i in range(0, n):
    for j in range(0, i+1):
        print("* ", end="")
    print()

Enter the number of rows: 5
*
* *
* * *
* * * *
* * * * *

In [2]:
n = int(input("Enter the number of rows: "))
m = (2 * n) - 2

for i in range(0, n):
    for j in range(0, m):
        print(end=" ")
    m = m - 1
    for j in range(0, i+ 1):
        print("* ", end=' ')
    print()

Enter the number of rows: 5
        *
       *  *
      *  *  *
     *  *  *  *
    *  *  *  *  *

In [3]:
# Function to print full pyramid pattern
def full_pyramid(n):
    for i in range(1, n + 1):
        # Print leading spaces
        for j in range(n - i):
            print(" ", end="")

        # Print asterisks for the current row
        for k in range(1, 2*i):
            print("*", end="")
        print()

full_pyramid(5)

    *
   ***
  *****
 *******
*********

In [5]:
import keyword

In [6]:
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [7]:
def simple_intrest(P, R, T):
  return ((P * R * T)/100)

In [8]:
simple_intrest(P = 5000, R = 12.5, T = 5)

3125.0

In [9]:
simple_intrest(5000, 12.5, 5)

3125.0

In [10]:
def simple_intrest(P, R, T):
  pass

In [11]:
def Sum(a,b):
  print(a+b)

In [13]:
Sum(5,6)

11

In [16]:
def Sum(*n):
  print(n*2)

In [17]:
Sum(4,5,6,7)

(4, 5, 6, 7, 4, 5, 6, 7)

In [26]:
def Sum(**a):
  print(a)

In [28]:
Sum(a = 5, b = 7, c = 8)

{'a': 5, 'b': 7, 'c': 8}

In [29]:
def my_function(country = "Norway"):
  print("I am from " + country)

my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")

I am from Sweden
I am from India
I am from Norway
I am from Brazil

In [ ]:
# Python 3 program to find
# factorial of given number
def factorial(n):

	# Checking the number
	# is 1 or 0 then
	# return 1
	# other wise return
	# factorial
	if (n==1 or n==0):

		return 1

	else:

		return (n * factorial(n - 1))

# Driver Code
num = 5;
print("number : ",num)
print("Factorial : ",factorial(num))