In [5]:
# Creating a class with property y, x and a
class Str_1:
  y = "Amit"
  x = 10
  a = 16.5

In [7]:
# Creating Object
z = Str_1()

In [11]:
print(z.y)

Amit

In [9]:
z.x

10

In [10]:
z.a

16.5

In [12]:
z

In [16]:
p = 5000
r = 5
t = 2

A = p*(1 +r/100)**t
print(A)

5512.5

In [17]:
# Creating a class with property name and age
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

# creating a object
p1 = Person("John", 36)

print(p1.name)
print(p1.age)

John
36

In [21]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def __str__(self):
    return f"{self.name}({self.age})"

  def myfunc(self):
    print("Hello my name is " + self.name)

p1 = Person("John", 36)
print(p1)
p1.myfunc()

John(36)
Hello my name is John

In [19]:
p1 = Person("John", 36)

print(p1)

John(36)

In [22]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def myfunc(self):
    print("Hello my name is " + self.name)

p1 = Person("John", 36)

# modifying the value of age
p1.age = 40

print(p1.age)

40

In [23]:
del p1.age

In [24]:
p1.age

AttributeError: 'Person' object has no attribute 'age'

In [25]:
del p1

In [26]:
p1

NameError: name 'p1' is not defined